# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Env files
.env
.env.*

# Database
db.sqlite3
db.sqlite3-journal

# Media
/media
/staticfiles
/static/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Virtual environments
venv/
ENV/
env/
bin/
lib/
Include/
Scripts/

# macOS
.DS_Store

# Linux
*.swp
*.swo

# Windows
Thumbs.db
*.bak
*.tmp
